.navigation-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.navigation-container .top-bar {
    width: 100vw;
    height: 55px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #777;
    box-shadow: 0px 5px 20px #000;
}

.account {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: 0px;
    padding: 0 15px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.account:hover {
    background-color: #111;
}

.account:active {
    opacity: 0.7;
}

.navigation-container .menu {
    width: 60px;
    border-radius: 0;
    padding: 10px;
    background-color: #0066bb;
}

.navigation-container .menu:hover {
    background-color: #004499;
}

.navigation-container .menu:active {
    opacity: 0.7;
}

.offcanvas-header {
    background-color: #222;
}

.offcanvas-body {
    background-color: #222;
    margin-top: -20px;
}

.offcanvas-body ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: black;
    list-style: none;
    margin-left: -50px;
}

.offcanvas-body ul li {
    width: 110%;
    padding: 20px 20px;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.offcanvas-body ul li:hover {
    background-color: #111;
}

.offcanvas-body ul li:active {
    opacity: 0.7;
}


#signup-nav-btn {
    background-color: #333;
    color: white;
}

#signup-nav-btn:hover {
    background-color: #000;
}

#signup-nav-btn:active {
    opacity: 0.7;
}