
.account-container {
    margin-top: 50px;
    background-color: #000;
    height: 100vh;
}

.account-container button {
    border-radius: 0;
}

.container-fluid h1 {
    color: white;
}


form {
    background-color: #000;
    width: 100%;
}

form input[type="text"] {
    background-color: #000;
    color: white;
    border: none;
    font-size: 1.75rem;
}

textarea {
    background-color: #000;
    border: none;
    color: white;
    font-size: 1.5rem;
    height: 300px;
}

textarea:focus {
    background-color: #fff;
    color: #000;
}