.signup-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96.5vh;
    background-image: linear-gradient(#000, #0066bb, #000);
}

form h1 {
    width: 100%;
    color: #bbb;
    text-align: center;
}

form {
    background-color: #111111bb;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    border-radius: 0;
    margin: 10px 0;
    padding: 10px;
}



.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.action-bar button {
    border-radius: 0;
    padding: 10px;
    width: 45%;
}