.investor-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 49px);
    color: white;
    background-color: #000;
    margin-top: 50px;
}

.investor-view h1 {
    margin: 10px;
}