.home-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 49px);
    color: white;
    background-color: #000;
    margin-top: 50px;
}

.home-view h1 {
    margin: 10px;
}